{% extends 'base.html' %} 


{% block content %}
<div class="container mt-3 pb-3">
    <div class="col-md-12">
<h2> Listado de Bicicletas </h2> 
   {% if object_list %}
    <hr>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>Comuna</th>
                <th>Ubicacion</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for bicicleta in object_list %}
            <tr>
                <th scope="row">{{ bicicleta.comuna }} </th>
                <td>{{ bicicleta.ubicacion }}</td>
                <td>${{ bicicleta.estado }}</td>

                {% if user.is_superuser %} 
                <td><a class="btn btn-primary" href="{% url 'editar_bicicleta' bicicleta.id %}">Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'eliminar_bicicleta' bicicleta.id %}">Eliminar</a></td>
                {% endif %}  
                
            </tr>
            {% endfor %}
        </tbody>
</table>

{% else %}
    <h1>No hay registros de bicicletas</h1>
{% endif %} 

</div>
</div>
{% endblock %}




        <!-- {% comment %} {% for bicicleta in object_list %}
            <p>Comuna: {{ bicicleta.comuna }}</p>
            <p>Ubicacion: {{ bicicleta.ubicacion }}</p>
            <p>Estado ${{ bicicleta.estado }}</p>           
            <td>
                <a class="btn btn-primary" href="{% url 'editar_bicicleta' bicicleta.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'eliminar_bicicleta' bicicleta.id %}">Eliminar</a>
            </td>  
            <br>
        {% endfor %}
        
        {% else %}
        <h1>No hay registros de carrera</h1>
        {% endif %}

{% endblock %} {% endcomment %} -->