{% extends 'base.html' %}

{% load static %} 

{% block content %}
<!-- {% comment %} <div class="container mt-3 pb-3"> {% endcomment %} -->
    <!-- {% comment %} <div class="col-md-8"> {% endcomment %} -->

<article class="imagen img1">
    <h6>
        <img src="{% static 'images/img/c1.jpg' %}" alt="uno">
        <!-- <img src="img/c1.jpg" alt="uno">   -->
    </h6>
</article>

<article class="imagen img2">
    <h6>
        <img src="{% static 'images/img/c2.jpg' %}" alt="uno">
        <!-- <img src="img/c2.jpg" alt="uno">   -->
    </h6>
</article>

<article class="imagen img3">
   <h6>
    <img src="{% static 'images/img/g3.jpg' %}" alt="uno">
        <!-- <img src="img/g3.jpg" alt="uno">   -->
    </h6>
</article>

<article class="imagen img4">
    <h6>
        <img src="{% static 'images/img/g4.jpg' %}" alt="uno">
        <!-- <img src="img/g4.jpg" alt="uno">   -->
    </h6>
</article>

<article class="imagen img4">
    <h6>
        <img src="{% static 'images/img/g5.jpg' %}" alt="uno">
        <!-- <img src="img/g5.jpg" alt="uno">   -->
    </h6>
</article>

</div>
</div>
{% endblock content %}